html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(./фон.jpg);
    background-size: cover;
    background-color: rgb(57, 72, 30);
    background-repeat: no-repeat;
}

.board {
    color: white;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
}
#a, #b, #c, #d, #e, #f, #g, #h, #i{
    color: rgb(25, 49, 33);
    background-color: rgb(25, 49, 33);
    border: 10px solid rgb(39, 77, 17);
    border-radius: 40px;
    width: 125px;
    height: 125px;
    font-size: 75px;
    font-weight: 700;
}

.S{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    border: 10px solid rgb(42, 64, 30);
    border-radius: 20px;
    width: 20px;
    height: 32px;
    font-size: 5px;
    position: fixed;
    margin-top: 550px;
}

body {
    background-color: rgb(14, 6, 6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.winer{
    position: fixed;
    margin-top: -100px;
    margin-left: -700px;
    width: 300px;
    height: 10px;
    font-size: 100px;
    color: rgb(113, 145, 32);
    display: none;
    z-index: 3;
}
.start{
    position: fixed;
    margin-top: -100px;
    margin-left: 600px;
    width: 50px;
    height: 10px;
    font-size: 100px;
    color: rgb(113, 145, 32);
    display: none;
    z-index: 3;
    cursor: pointer;
    transition: 0.5s;
}
@media (hover:hover){
    .start:hover{
        color: rgb(51, 61, 25);
    }
}
@media (max-width: 1000px){
    .board{
        width: 150px;
        height: 150px;
    }
    .winer{
        font-size: 60px;
        margin-left: -330px;
        margin-top: -80px;
    }
    .start{
        font-size: 70px;
        margin-left: 400px;
        margin-top: -70px;
    }
    #a, #b, #c, #d, #e, #f, #g, #h, #i{
        border-radius: 35px;
        width: 100px;
        height: 100px;
        font-size: 50px;
    }

    .S{
        margin-left: 470px;
        margin-top: 200px;
    }
}
@media (max-width: 500px){
    .board{
        width: 200px;
        height: 200px;
    }
    .winer{
        font-size: 70px;
        margin-left: 120px;
        margin-top: -500px;
    }
    .start{
        font-size: 70px;
        margin-left: -40px;
        margin-top: 350px;
    }
    #a, #b, #c, #d, #e, #f, #g, #h, #i {
        border-radius: 35px;
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
    .S{
        margin-left: -230px;
        margin-top: 500px;
    }
}